<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="~{common/fragments :: header}"></head>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Вывод</title>
</head>

<body class="container-xl pb-4">

<!--  Навигация  -->
<nav th:insert="~{common/fragments :: navbar}"></nav>

<div class="container w-75">

  <!--  Сообщение об ошибке  -->
  <div th:if="${errorMessage}" class="alert alert-danger">
    Не удалось выполнить действие
  </div>
  <!--  Конец сообщения об ошибке  -->
  <div th:if="${successMessage}" class="alert alert-success">
    Выполнено
  </div>


  <form th:action="@{/account/withdraw}" method="post">

    <div class="form-group" >
      <label for="accountId">1. Укажите счёт, с которого вы хотите вывести средства:</label>
      <select class="selectpicker form-control" data-live-search="true" name="accountId" id="accountId" required="required" >
        <option th:each="item : ${accounts}" th:value="${item.id}" th:text="${item.name}"></option>
      </select>
      <br />
    </div>

    <div class="form-group">
      <label>2. Укажите сумму, которую вы хотите вывести: </label>
      <span class="input-group-addon">Сумма</span>
      <input th:value="${amount}" type="text" name="amount" id="amount" class="form-control" />
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Вывести</button>

  </form>

</div>

</body>


<div th:insert="~{common/fragments :: body-bottom-scripts}"></div>

</html>