<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="~{common/fragments :: header}"></head>
<head><title>Типы счётов</title></head>

<body class="container-xl pb-4">

<!--  Навигация  -->
<nav th:insert="~{common/fragments :: navbar}"></nav>

<!-- Начало таблицы -->
<div class="table-wrapper">

    <div class="d-flex justify-content-center">
        <h4>Типы счётов</h4>
    </div>

    <table id="datatablesSimple" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${accountTypes}">
            <td th:text="${item.id}">Id</td>
            <td th:text="${item.name}">Дебетовый</td>
            <td>
                <form th:id="'editForm' + ${item.id}" th:action="'/admin/accountType/' + ${item.id}" th:method="GET"></form>
                <form th:id="'deleteForm' + ${item.id}" th:action="'/admin/accountType/' + ${item.id}" th:method="DELETE"></form>
                <a href="#" th:onclick=" 'document.getElementById(\'' + 'editForm' + ${item.id} + '\').submit()'" class="edit" title="Изменить" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a href="#" th:onclick=" 'document.getElementById(\'' + 'deleteForm' + ${item.id} + '\').submit()'" class="delete" title="Удалить" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Конец таблицы -->

<div th:if="${errorMessage}" class="alert alert-danger">
    Не удалось выполнить действие
</div>

<div th:if="${successMessage}" class="alert alert-success">
    Действие выполнено
</div>

<!-- Сохранение записи -->
<div class="card">
    <div class="card-body">

        <!-- Начало формы -->
        <form th:action="@{/admin/accountType}" method="post" autocomplete="off" th:object="${accountType}">

            <h4 th:text="${accountType.id != null} ? 'Изменение записи # ' + ${accountType.id} : 'Добавление записи'"></h4>
            <input hidden th:field="*{id}" th:value="${accountType.id}" />

            <!-- Название -->
            <div class="form-group">
                <label for="inputName">Название</label>
                <input type="text" class="form-control" id="inputName" th:field="*{name}" placeholder="Название" required />
            </div>

            <!-- Отправка формы -->
            <button class="btn btn-primary btn-block col-lg-2" type="submit">Сохранить</button>

        </form>
        <!-- Конец формы -->

    </div>
</div>
<!-- Конец сохранения записи -->

</body>

<div th:insert="~{common/fragments :: body-bottom-scripts}"></div>

</html>